body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

/* section {
    padding: 50px;
} */

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #1f2937;
    padding: 0 150px;
}

.logo {
    height: 100px;
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
    
}

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 100px 150px;
    justify-content: space-between;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 50px;
}

.hero-text {
    width: 50%;
}

.hero img {
    width: 400px; 
    height: auto;
}

.hero button {
    background-color: #3882f6;
    color: white;
    border: none;
    font-size: 24px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 50px 150px;
    text-align: center;
}

.card-section {
    margin: 100px 0px;
}

.card-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    color: #1f2937;
    font-size: 75px;
    border: 5px solid #3882f6;
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 20px;
}

.quotes {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 100px 200px;
}

.cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 150px;
    background-color: #3882f6;
    color: white;
    padding: 2rem;
    border-radius: 8px;;
}

.cta h4 {
    font-size: 20px;
    font-weight: bold;
}

.cta button {
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    padding: 0.5rem 1rem;
}